
<div *ngIf="booking">
    <h2><span jhiTranslate="carRentalApp.booking.detail.title">Booking</span> {{booking.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="carRentalApp.booking.noofrentdays">Noofrentdays</span></dt>
        <dd>
            <span>{{booking.noofrentdays}}</span>
        </dd>
        <dt><span jhiTranslate="carRentalApp.booking.startDay">Start Day</span></dt>
        <dd>
            <span>{{booking.startDay | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="carRentalApp.booking.endDay">End Day</span></dt>
        <dd>
            <span>{{booking.endDay | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="carRentalApp.booking.rentPerDay">Rent Per Day</span></dt>
        <dd>
            <span>{{booking.rentPerDay}}</span>
        </dd>
        <dt><span jhiTranslate="carRentalApp.booking.totalAmountPayable">Total Amount Payable</span></dt>
        <dd>
            <span>{{booking.totalAmountPayable}}</span>
        </dd>
        <dt><span jhiTranslate="carRentalApp.booking.concerns">Concerns</span></dt>
        <dd>
            <div *ngIf="booking.concernsId">
                <a [routerLink]="['/car', booking.concernsId]">{{booking.concernsId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="carRentalApp.booking.done">Done</span></dt>
        <dd>
            <div *ngIf="booking.doneId">
                <a [routerLink]="['/customer', booking.doneId]">{{booking.doneId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
